<% title "Contact Me" %>
<section class="container contact">
  <div class="row">
    <div class="col-lg-offset-2 col-lg-5 col-md-6 col-md-offset-1">
      <h1>Contact Me</h1>
      <%= form_for @message, url: contact_path do |f| %>
        <div class="form-group">
          <%= f.label :name, class: "sr-only" %>        
          <%= f.text_field :name, class: "form-control", placeholder: "Name" %>
        </div>
        <div class="form-group">
          <%= f.label :email, class: "sr-only" %>        
          <%= f.email_field :email, class: "form-control", placeholder: "Email" %>
        </div>
        <div class="form-group">
          <%= f.label :content, class: "sr-only" %>
          <%= f.text_area :content, class: "form-control", rows: "10", cols: "30",  placeholder: "Content" %>
        </div>
        <div id="g-recaptcha" class="form-group"></div>
        <%= f.submit "Send", class: "btn btn-primary" %>
      <% end %>
    </div>

    <div class="col-md-4 col-lg-3 text-center">
      <h2>Email Me</h1>
      <p class="small">contact -at- appdevchallenge.com</p>

      <h2>Follow Me</h1>
      <ul class="social-icons dark">
          <li class="social-icon">
            <%= link_to "http://twitter.com/evrimfeyyaz" do %>
              <i class="fa fa-twitter fa-fw"></i>
            <% end %>
          </li>
          <li class="social-icon">
            <%= link_to feed_url do %>
              <i class="fa fa-rss fa-fw"></i>
            <% end %>
          </li>
        </ul>
    </div>
  </div>
</section>