<section class="container-fluid">
  <%= form_tag destroy_multiple_admin_posts_path,
             method: :delete,
             data: {
              confirm: "Are you sure you would like to remove selected posts?"
             } do %>
    <div class="row">
      <div class="col-sm-4">
        <h1>Posts</h1>
      </div>
      <div class="col-sm-8 text-right-md">
        <%= link_to "New Post", new_admin_post_path, class: "btn-admin btn btn-primary" %>
        <%= submit_tag "Remove Selected", class: "btn-admin btn btn-danger" %>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th><input type="checkbox" id="select-all"></th>
                <th>Title</th>
                <th>Category</th>
                <th>Date Created</th>
                <th>Date Published</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <% @posts.each do |post| %>
                <tr>
                  <td>
                    <%= check_box_tag "post_ids[]",
                                  post.id,
                                  false,
                                  class: "select-element" %>
                  </td>
                  <td><%= link_to post.title_without_html, edit_admin_post_path(post) %></td>
                  <td><%= category(post) %></td>
                  <td><%= format_time_admin(post.created_at) %></td>
                  <td><%= format_time_admin(post.published_at) %></td>
                  <td>
                    <%= link_to edit_admin_post_path(post),
                          class: 'action-icon',
                          alt: "Edit post",
                          "data-toggle" => "tooltip",
                          "data-placement" => "top",
                          title: "Edit post" do %>
                      <i class="fa fa-pencil fa-fw"></i>
                    <% end %>
                    <%= link_to [:admin, post],
                          class: 'action-icon',
                          alt: "Delete post",
                          "data-toggle" => "tooltip",
                          "data-placement" => "top",
                          title: "Delete post",
                          method: :delete,
                          data: { confirm: "Are you sure?" } do %>
                      <i class="fa fa-trash fa-fw"></i>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  <% end %>
</section>