<section class="container-fluid">
  <%= form_tag destroy_multiple_admin_categories_path,
               method: :delete,
               data: {
                confirm: "Are you sure you would like to remove selected categories?"
               } do %>
    <div class="row">
      <div class="col-sm-4">
        <h1>Categories</h1>
      </div>
      <div class="col-sm-8 text-right-md">
        <%= link_to "New Category", new_admin_category_path, class: "btn-admin btn btn-primary" %>
        <%= submit_tag "Remove Selected", class: "btn-admin btn btn-danger" %>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th><input type="checkbox" id="select-all"></th>
                <th>Title</th>
                <th># Posts</th>
                <th>Date Created</th>
              </tr>
            </thead>
            <tbody>
              <% @categories.each do |category| %>
                <tr>
                  <td>
                    <%= check_box_tag "category_ids[]",
                                  category.id,
                                  false,
                                  class: "select-element" %>
                  </td>
                  <td><%= category.title %></td>
                  <td><%= category.posts_count %></td>
                  <td><%= format_time_admin(category.created_at) %></td>
                  <td>
                    <%= link_to edit_admin_category_path(category),
                          class: 'action-icon',
                          alt: "Edit category",
                          "data-toggle" => "tooltip",
                          "data-placement" => "top",
                          title: "Edit category" do %>
                      <i class="fa fa-pencil fa-fw"></i>
                    <% end %>
                    <%= link_to [:admin, category],
                          class: 'action-icon',
                          alt: "Delete category",
                          "data-toggle" => "tooltip",
                          "data-placement" => "top",
                          title: "Delete category",
                          method: :delete,
                          data: { confirm: "Are you sure?" } do %>
                      <i class="fa fa-trash fa-fw"></i>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  <% end %>
</section>