<section class="container post">
  <% if @post.image.present? %>
    <div class="row">
      <div class="col-lg-offset-1 col-lg-10">
        <%= image_tag @post.image.data.url, alt: @post.title, class: 'post-image full-width' %>
      </div>  
    </div>
  <% end %>

  <div class="row">
    <div class="col-lg-offset-2 col-lg-8 col-sm-offset-1 col-sm-10 post-text">
      <h1 class="main-title text-center"><%= @post.title.html_safe %></h1>

      <p class="meta text-center">
            <%= link_to_post_category(@post) %>
            <span class="circle-symbol">●</span>
            <%= published_at(@post) %>
      </p>
    
      <%= markdown @post.content %>
      <% if @post.persisted? %>
        <div class="addthis_sharing_toolbox"></div>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-offset-2 col-lg-8 col-sm-offset-1 col-sm-10 col-xs-12">
      <div class="mail-list-post text-center">
        <h1>Enjoyed the Article?</h1>
        <section>
          <p>
            I will share all my successes and failures, join my list to get updates. 
          </p>
          <%= render 'layouts/maillist', form_name: "#{@post.id}-#{@post.title}" %>
          <p class="fine-print">
            No spam. Unsubscribe any time.
          </p>
        </section>
      </div>
    </div>
  </div>
  <% if @post.previous_post || @post.next_post %>
  <nav class="row article-navigation">
    <div class="col-lg-offset-2 col-lg-8 col-sm-offset-1 col-sm-10">
      <ul class="list-inline">
        <% if @post.previous_post %>
          <li class="pull-left">
            <%= link_to "&laquo; #{@post.previous_post.title}".html_safe, @post.previous_post %>
          </li>
        <% end %>
        <% if @post.next_post %>
          <li class="pull-right text-right">
            <%= link_to "#{@post.next_post.title} &raquo;".html_safe, @post.next_post %>
          </li>
        <% end %>
      </ul>
    </div>
  </nav>
<% end %>
  <% if @post.persisted? %>
    <div class="row">
      <div class="col-lg-offset-2 col-lg-8 col-sm-offset-1 col-sm-10 col-xs-12">
        <%= render 'posts/comments' %>
      </div>
    </div>
  <% end %>
</section>