<section class="container post">
  <% if @post.image.present? %>
    <div class="row">
      <div class="col-lg-offset-1 col-lg-10">
        <%= image_tag @post.image.data.url, alt: @post.title, class: 'post-image full-width' %>
      </div>  
    </div>
  <% end %>

  <div class="row">
    <div class="col-lg-offset-2 col-lg-8 col-sm-offset-1 col-sm-10 post-text">
      <h1 class="main-title text-center"><%= @post.title %></h1>

      <p class="meta text-center">
            <%= link_to_post_category(@post) %>
            <span class="circle-symbol">●</span>
            <%= published_at(@post) %>
      </p>
    
      <%= markdown @post.content %>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-offset-2 col-lg-8 col-sm-offset-1 col-sm-10 col-xs-12">
      <div class="mail-list-post text-center">
        <h1>Enjoyed the Article?</h1>
        <section>
          <p>
            I will share all my successes and failures, join my list to get updates. 
          </p>
          <form>
            <div class="form-group">
              <input type="text" class="form-control" id="name" placeholder="Name">
            </div>
            <div class="form-group">
              <input type="email" class="form-control" id="email" placeholder="E-Mail">
            </div>
            <button type="submit" class="btn btn-primary">Join the List</button>
          </form>
          <p class="fine-print">
            No spam. Unsubscribe any time.
          </p>
        </section>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-offset-2 col-lg-8 col-sm-offset-1 col-sm-10 col-xs-12">
      <%= render 'comments' %>
    </div>
  </div>
</section>